
@font-face {
  font-family: 'Montserrat';
  src: url('font/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'MontserratBlack';
  src: url('font/Montserrat-Black.ttf');
}

@font-face {
  font-family: 'MontserratBold';
  src: url('font/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'MontserratItalic';
  src: url('font/Montserrat-Italic.ttf');
}

body {
	padding: 0;
	margin:0;
	}

html, body, #mapid {
    height: 100%;
    font-family: 'Montserrat';
	color: #c8c8d2;
	}
	
a {
	text-decoration:none;
	color: white;
	font-family: 'MontserratBold';
	}

a:hover {
  color : red;
  font-family: 'MontserratBold';
}
	
	
#legende {
	margin-top: 30px;
	position:auto;
	width: 100%;
	}
	
#sources {
	margin-top:100px;
	font-size:0.7em;
	}
		
		
#popup {
	display: none;
	}
		
.Tooltips {
	font-size:0.9em;
	padding:5px;
	border:none;
	color: #061032;
	background-color: white;
	}

i {
	font-size:0.9em;
	font-family: 'MontserratItalic';	
	}
	
strong {
	font-family: 'MontserratBold';
	}
		
h1{
	font-size:2 em;
	text-transform:uppercase;
	font-family: 'MontserratBold';
	color: white;
	}
	
h2{
	font-size:1.2em;
	font-weight: bold;
	color: #ffffff;
}

h3{
	font-size:0.9em;
	font-weight: bold;
	color: white;
}

.chiffre{
	font-size:1.5em;
	font-weight: bold;
	color:#00bdce;
}

.indicateur {
	color:white;
	font-size:0.9em;
}
		
.leaflet-left {
	left: 0;
	}	
	
.fas {
  color : white;
}

.tabs:hover {
  background-color : #ffee00;
}

.boutons {
		margin-top: 20px;
		}
		
.bouton {
		color:#ffffff;
		font-weight: bold;
		cursor: pointer;
		height: 21px;
		}
		
.bouton:hover {
		color: red;
		}
		
.bouton_on {
		color: #8a0000;
		font-weight: bold;
		height: 21px;
		}
			
.divTable{
	display: table;
	
}
.divTableRow {
	display: table-row;
	margin-top:30px;	
}

.divTableCell, .divTableHead {
	border: 0.1px solid #88a0b7;
	vertical-align:middle;
	padding: 3px 10px;
}

.divTableBody {
	display: table-row-group;
}