body {
	padding: 0;
	margin:0;
	}

html, body, #mapid {
    height: 100%;
	font-family: 'Asap', sans-serif;
	color: #c8c8d2;
	}
	
a {
	text-decoration:none;
	color: white;
	
	}

a:hover {
  color : #ffee00;
}
	
	
#legende {
	margin-top: 30px;
	position:auto;
	width: 100%;
	}
	
#sources {
	margin-top:100px;
	font-size:0.7em;
	}
		
		
#popup {
	display: none;
	}
	
#onglet_departement {
	display: none;
	}
	
#onglet_commune {
	display: none;
	}
	
#onglet_epci {
	display: none;
	}
	
#defaut {
	display: block;
	}
	
.onglets {
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	background-color: #3c5daa;
	border: 0.1px solid #5a77b7;
}

.onglets:hover {
	color: #004494;
	background-color: #ffee00;
}

.onglets_on {
	/* Safari */
	-webkit-transform: rotate(-90deg);
	/* Firefox */
	-moz-transform: rotate(-90deg);
	/* IE */
	-ms-transform: rotate(-90deg);
	/* Opera */
	-o-transform: rotate(-90deg);
	background-color: #f26664;
	border : 0.1px solid #5a77b7;
}
		
.Tooltips {
	font-size:0.9em;
	padding:5px;
	border:none;
	color: #061032;
	background-color: white;
	}

i {
	font-size:0.9em;
	font-style: italic;	
	}
	
strong {
	font-weight: bold;
	}
		
h1{
	font-size:2 em;
	text-transform:uppercase;
	color: white;
	}
	
h2{
	font-size:1.2em;
	font-weight: bold;
	color: #ffffff;
}

h3{
	font-size:0.9em;
	font-weight: bold;
	color: white;
}

.chiffre{
	font-size:1.5em;
	font-weight: bold;
	color:#f26664;
}

.ptichiffre{
	font-size:0.8em;
	font-weight: bold;
	color:#f26664;
}

.indicateur {
	color:white;
	font-size:0.9em;
}
		
.leaflet-left {
	left: 0;
	}	
	
.fas {
  color : white;
}


.boutons {
		margin-top: 20px;
		}
		
.bouton {
		color:#ffffff;
		font-weight: bold;
		cursor: pointer;
		height: 21px;
		}
		
.bouton:hover {
		color: #ffee00;
		}

.bas {
	margin-top:50px;
}
	
.divTable{
	display: table;
	
}
.divTableRow {
	display: table-row;
	margin-top:30px;	
}

.divTableCell, .divTableHead {
	border: 0.1px solid #88a0b7;
	vertical-align:middle;
	padding: 3px 10px;
}

.divTableBody {
	display: table-row-group;
}