
@font-face {
  font-family: 'Montserrat';
  src: url('font/Montserrat-Light.ttf');
}

@font-face {
  font-family: 'MontserratBlack';
  src: url('font/Montserrat-Black.ttf');
}

@font-face {
  font-family: 'MontserratBold';
  src: url('font/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'MontserratItalic';
  src: url('font/Montserrat-Italic.ttf');
}

body {
	padding: 0;
	margin:0;
	}

html, body, #mapid {
    height: 100%;
    font-family: 'Montserrat';
	color: #ffffff;
	}
	
a {
	text-decoration:underline;
	font-weight:black;
	color: yellow;
	}


	
#legende {
	position:auto;
	width: 100%;
	}
	
#sources {
	float:left;
	padding-top:20px;
	}
		
		
#popup {
	display: none;
	}
		
.Tooltips {
	font-size:0.9em;
	padding:5px;
	border:none;
	color: #061032;
	background-color: white;
	}

i {
	font-size:0.9em;
	font-family: 'MontserratItalic';	
	}
	
strong {
	font-family: 'MontserratBold';
	}
		
h1{
	font-size:1.8em;
	}
		


.leaflet-left {
	left: 0;
	}	
