body {
	padding: 0;
	margin:0;
	}

html, body, #mapid {
    height: 100%;
	font-family: 'Asap', sans-serif;
	color: #c8c8d2;
	}
	
a {
	text-decoration:none;
	color: white;
	
	}

a:hover {
  color : #ffee00;
}

i {
	font-size:0.9em;
	font-style: italic;	
	}
	
strong {
	font-weight: bold;
	}
		
h1{
	font-size:2 em;
	text-transform:uppercase;
	color: white;
	}
	
h2{
	font-size:1.2em;
	font-weight: bold;
	color: #ffffff;
}

h3{
	font-size:0.9em;
	font-weight: bold;
	color: white;
}
	
.leaflet-left {
	left: 0;
	}	
	
.fas {
  color : white;
}
	
#sources {
	margin-top:50px;
	font-size:0.8em;
	}

.Tooltips {
	font-size:0.9em;
	padding:5px;
	border:none;
	color: #061032;
	background-color: white;
	}
	
.epci_Tooltips {
	font-size:1em;
	padding:5px;
	border:none;
	color: red;
	background-color: rgba(255, 255, 255, 0.6);
	box-shadow: none;
	border: none;
	}

.bas {
	margin-top:50px;
}

#boiteRecherche{
	margin-bottom:40px;
}
	
	
	/*Affichage des onglets*/	
		
#popup {
	display: none;
	}
	
#onglet_departement {
	display: none;
	
	}
	
#onglet_commune {
	display: none;
	}
	
#onglet_epci {
	display: none;
	}
	
#defaut {
	display: block;
	}

#logo_dep {
	background-image: url("img/tabdep.png");
	background-repeat:no-repeat;
	background-position:center center;
}

#logo_dep:hover {
	background-image: url("img/tabondep.png");
	background-repeat:no-repeat;
	background-position:center center;
}

#logo_epci {
	background-image: url("img/tabepci.png");
	background-repeat:no-repeat;
	background-position:center center;
}

#logo_epci:hover {
	background-image: url("img/tabonepci.png");
	background-repeat:no-repeat;
	background-position:center center;
}

#logo_com {
	background-image: url("img/tabcom.png");
	background-repeat:no-repeat;
	background-position:center center;
}

#logo_com:hover {
	background-image: url("img/taboncom.png");
	background-repeat:no-repeat;
	background-position:center center;
}
	
.onglets{
	background-color: #3c5daa;
	border: 0.1px solid #5a77b7;
}


.onglets img{
	vertical-align:middle;
	padding:7px;
}

.onglets:hover {
	color: #004494;
	background-color: #ffee00;
}

.onglets_on a{
	background-color: #f26664;
	border : 0.1px solid #5a77b7;
}
		
.boutons {
		margin-top: 20px;
		}
		
.bouton {
		color:#ffffff;
		font-weight: bold;
		cursor: pointer;
		}
		
.bouton:hover {
		color: #ffee00;
		}
		
.bouton_on {
		color: #f26664;
		font-weight: bold;
		}




/*Style du tableau*/
	
.divTable{
	display: table;
	
}
.divTableRow {
	display: table-row;	
}

.divTableCell, .divTableHead {
	border: 0.1px solid #88a0b7;
	vertical-align:middle;
	padding: 7px 8px;
}

.divTableBody {
	display: table-row-group;
}

.chiffre{
	font-size:1.5em;
	font-weight: bold;
	color:#f26664;
}

.ptichiffre{
	font-size:0.8em;
	font-weight: bold;
	color:#f26664;
}

.description {
	font-size:0.8em;
	font-weight: bold;
	color:#ffffff;
}